*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: sans-serif;
    line-height: 1.4;
    background-color: lightgray;  
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: ;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-image: linear-gradient(lightgray, rgb(246, 246, 252));
}
.grid-item{
    margin-top: 20px;
    height: 80vh;
}

.item-1 .nav{
    display: flex;
    height: 80px;
    width: 100%;
}
.item-1 .nav .logo{
    font-size: 25px;
    padding: 0 30px;
    line-height: 1.4;
    font-weight: bold;
    color: rgb(13, 13, 19);
    margin-top: 20px;
}

.item-1 .nav ul{
    margin: 0 5px 0 10px;
}

.item-1 .nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 0px;
}

.item-1 .nav ul li a{ 
    color: black;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.item-1 .nav .dis{
    display: none;
}
a:hover{
    background: #828283;
    transition: .5s;
}


.checkbtn{
    margin-left: 150px;
    font-size: 25px;
    color: white;
    float: right;
    cursor: pointer;
    line-height: 80px;
    display: none;
}

#check{
    display:none;
}
.header{
    margin: auto;
    text-align: center;
    margin-top: 120px;
}
.header h3{
    margin-right: 60px;
    font-size: 30px;
    line-height: 1.3;
    text-transform: capitalize;
}
.header h1{
    font-size: 50px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-left: 95px;
}

.header span{
    line-height: 1.5;
    margin-left: 140px;
}
.item-2{
    display: flex;
    
}
.icon{
    margin-top: 30px;
    margin-left: 90px;
}

.item-2 img{
    margin-top: 30px;
    margin-left: 60px;
    box-shadow: 0 10px 10px rgba(17, 17, 16, 0.8);   
}

.dot{
    margin-top: 30px;
    margin-left: 50px;
    background-color: black;
    background-image: url(../images/img10.jfif);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.btn{
    background-color: red;
    box-shadow: 0 10px 10px rgba(17, 17, 16, 0.8);
    padding: 12px 10px;
    text-transform: capitalize;
    text-align: center;
    width: 90px;
    height: 25px;
    color: white;
    position: relative;
    margin-top: -100px;
    margin-left: 43%;
}

.second-header{
    width: 100%;
    height: 50%;
    margin-top: 220px;
    margin-left: 150px;
}

.second-header h1{
    text-transform: capitalize;
}

.second-header span{
    line-height: 1.4;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: lightgray;
    background-image: linear-gradient(lightgray, white);
    margin-top: 80px;
}

.flexbox{
    width: 15%;
    height: 60vh;
    background-color: blue;
    color: #fff;
    padding: 40px;
    margin: 15px;
    margin-top: 5%;
    font-size: 30px;
    text-transform: capitalize;
    box-shadow: 0 10px 5px rgba(161, 161, 161, 0.9);
}

.flexbox p{
    margin-top: 150%;
}

.fx-1{
    background: url(../images/img5.jfif) no-repeat center center/cover;    
}

.fx-2{
    background: url(../images/img6.jfif) no-repeat center center/cover;
}

.fx-3{
    background: url(../images/img7.jfif) no-repeat center center/cover;
}
.fx-4{
    background: url(../images/img10.jfif) no-repeat center center/cover;
}


@media (orientation: landscape){
    .grid-container{
        grid-template-columns: 45% 55%;
    }
    .item-1 .nav .logo{
        font-size: 25px;
      padding: 0 10px;
    }
    
    .item-1 .nav ul li a{ 
        padding: 2px 2px;
        margin-left: 5px;

    }
    .header h3{
        margin-right: 105px;
    }
    .header h1{
        font-size: 50px;
        line-height: 1.5;
        text-transform: capitalize;
        margin-left: 40px;
    }

    .header span{
        line-height: 1.5;
        margin-left: 70px;
    }
    
    .item-2 img{
        margin-top: 30px;
        margin-left: 20px;
    }

    .item-1 .nav ul li{
     margin-left: 3px;
    }
    .icon{
        margin-top: 30px;
        margin-left: 30px;
    }

    .btn{
        margin-top: -60px;
        margin-left: 48%;
    }
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        width: 120%;
    }
    .flexbox{
        width: 15%;
        height: 60vh;
        color: #fff;
        padding: 20px;
        margin: 15px;
        margin-top: 0;
    }
}
 
@media (max-width: 860px){
    .grid-container{
        grid-template-columns: 40% 60%;
    }
    .item-1 .nav ul{
        margin: 0;
    }
    .item-1 .nav ul li{
        display: inline-block;
        margin: 0;
    }

    .item-1 .nav .logo{
        font-size: 25px;
        padding: 0 10px;
    }
    
    .item-1 .nav ul li a{ 
        padding: 2px 2px;
        line-height: 20px;

    } 
    .checkbtn{
        text-align: center;
        display: block;
        font-size: 40px;
        color: #000;
        height: 70px;
        width: 70px;
        margin-left: 100px;
        margin-top: 5px;
        
    }

     ul{
        margin-left: -10px;
        position: absolute;
        width: 114%;
        height: 90vh;
        background: #9ea2a7;
        top: 85px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    .item-1 .nav .dis{
        display: inline-block;
    }

    .item-1 .nav ul li{
        display: block;
        line-height: 90px;
    }

    .item-1 .nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
          
    }
    .header{
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
    .header h3{
        margin-right: 20px;
        font-size: 25px;
}
    .header h1{                                      
    margin-left: 10px;
}

.header span{
    line-height: 1.5;
    margin-left: -30px;
}
.dot{
    display: none;
}

.btn{
    display: none;
}

    
.flex-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

    .flexbox{
        width: 90%;
        height: 60vh;
        background-color: blue;
        color: #fff;
        padding: 20px;
        margin: 15px;
        margin-top: 5%;
    }

    
.flexbox p{
    margin-top: 30%;
}
}
@media (orientation: portrait){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 120%;
    }
    .item-1 .nav .logo{
        font-size: 25px;
        padding: 0 25px;
    }
    .checkbtn{
        text-align: center;
        display: block;
        font-size: 35px;
        height: 70px;
        width: 70px;
        margin-left: 180px;
        margin-top: 3px;
        
    }

     ul{
        margin-left: -10px;
        position: absolute;
        width: 110%;
        height: 90vh;
        background: #9ea2a7;
        top: 105px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }

    .item-1 .nav .dis{
        display: inline-block;
    }

    .item-1 .nav ul li{
        display: block;
    }

    .item-1 .nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
          
    }

    .header h3{
        margin: auto;
        font-size: 20px;
    }

    .header h1{
       font-size: 40px;
        margin: auto;
    }

    .item-2{
        display: none;
    }

    
    .btn{
         display: none;
    }

    
    .second-header{
        width: 100%;
        height: 50%;
        margin-top: 40px;
        margin-left: 50px;
    }


    .flex-container{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    
    .flexbox{
        width: 80%;
        height: 60vh;
        background-color: blue;
        color: #fff;
        padding: 20px;
        margin: 15px;
        margin-top: 5%;
    }

    .flexbox p{
        margin-top: 50%;
    }
}